<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.mapper.storepathmapper">
    <select id="querystorepaths" resultType="storepath">
        select *
        from storepaths;
    </select>

    <!--        storepath queryPathByType(String imgType)  -->
    <select id="queryPathByType" resultType="storepath">
        select *
        from storepaths
        where `imgType` = #{imgType};
    </select>


</mapper>